@import url(https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body {
    margin: 0
}

a {
    background-color: transparent
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.row-post{
    display: flex;
}

.col-md-4 {
    margin: auto;
}

@media (min-width: 768px){
.col-md-5 {
    flex: 0 0 41%;
    max-width: 41%;
}}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-md-7 {
    flex: 0 0 58%;
    max-width: 58%;
    padding: 25px;
}

.col-md-9 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}
.col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%
}

.col-xl-4 {
    flex: 0 0 34%;
    max-width: 34%;
}


.col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%
}

.col-xl-7 {
    flex: 0 0 59%;
    max-width: 59%
}


.col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%
}
.col-lg-7 {
    flex: 0 0 59%;
    max-width: 59%;
}

.d-none {
    display: none !important
}


body {
    font-family: "SF Pro Text", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.9;
    color: #666666;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: #0A54A8;
    text-decoration: none
}

a {
    color: #666666;
    text-decoration: none;
    outline: 0;
    transition: all 0.3s ease
}

a:hover,
a:focus {
    color: #0A54A8
}

p {
    margin: 0 0 15px 0
}

em {
    font-style: italic
}

hr {
    border: solid #DEDEDE;
    border-width: 1px 0 0;
    clear: both;
    margin: 10px 0 30px;
    height: 0
}


.btn i,
.btn svg {
    margin-left: 10px
}

.btn:hover,
.btn:focus {
    color: #fff
}

.btn.secondary {
    background: linear-gradient(to right, #fcba4e 0%, #f87926 50%, #fcba4e 100%);
    background-size: 200% 100%;
    color: #fff
}

.btn.secondary:hover {
    background-position: 100% 0
}

.btn-link {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #0A54A8
}

.btn-link i {
    vertical-align: -1px;
    margin-left: 3px;
    transition: transform 0.3s
}

.btn-link:hover {
    color: #F88126
}

.btn-link:hover i {
    transform: translateX(5px)
}

.btn-link.secondary {
    color: #F88126
}

.btn-link.secondary:hover {
    color: #0A54A8
}

.btn-block {
    display: block
}
.t-info {
    margin-top: 100px;
    color: white;
}


label {
    display: inline-block;
    font-family: "SF Pro Text", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #252A31;
    margin-bottom: 6px
}

textarea {
    vertical-align: top;
    line-height: 1.3;
    min-height: 120px;
    padding: 20px
}

.section,
section {
    position: relative;
    z-index: 2;
    padding-top: 50px;
    padding-bottom: 50px
}

    .section,
    section {
        padding-top: 80px;
        padding-bottom: 80px
    }

.section-bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    z-index: -1
}

.bg-primary {
    background-color: #0A54A8
}

.bg-secondary {
    background-color: #F88126
}

.bg-secondary-light {
    background-color: #fdf9f0
}

.bg-gray {
    background-color: #F2F2F2
}

.bg-grey {
    background-color: #F5F5F5
}

.overflow-hidden {
    overflow: hidden !important
}

.z-index-none {
    z-index: none !important
}

.page-wrapper,
.page-content {
    overflow: hidden
}

.page-content {
    position: relative
}

    .container-fixwidth__width {
        margin-left: auto;
        margin-right: 0
    }

    .container-fixwidth__width .container {
        margin-left: 0;
        padding-right: 0;
        max-width: 100%
    }


.header {
    position: relative;
    z-index: 50
}

.header.header-unpin .header__content {
    transform: translateY(-100%)
}

.header.headroom--not-top:not(.header-border) .header__content {
    border-bottom: 1px solid #E6E6E6
}

.header.header-border .header__content {
    border-bottom: 1px solid #E6E6E6
}

.header__fixheight {
    height: 80px
}

.header__content {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    transition: all 0.3s ease
}

.header__inner {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 0 20px;
}

.header__logo {
    margin-right: 50px
}

.header__logo a {
    display: block;
    max-width: 145px
}

.header__grow {
    flex-grow: 1
}

.header__nav {
    margin-right: 30px
}

.header__nav .menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0
}

.header__nav .menu-list>li {
    display: inline-block;
    vertical-align: middle
}

.header__nav .menu-list>li:not(:last-child) {
    margin-right: 30px
}

.header__nav .menu-list>li>a {
    color: #261d35;
    height: 80px;
    line-height: 80px
}

.header__nav .menu-list>li>a b {
    font-style: italic
}

.header__nav .menu-list>li.menu-has-children {
    position: relative;
    padding-right: 15px
}

.header__nav .menu-list>li.menu-has-children>span {
    position: absolute;
    top: 50%;
    right: 0;
    line-height: 1;
    color: #261d35;
    transform: translateY(-50%)
}

.header__nav .menu-list>li:hover>a,
.header__nav .menu-list>li:hover>span,
.header__nav .menu-list>li.menu-item-current>a,
.header__nav .menu-list>li.menu-item-current>span {
    color: #0A54A8 !important
}

.header__nav .menu-list a,
.header__nav .menu-list span {
    font-size: 15px
}

.header__nav .menu-list a {
    display: block;
    font-weight: 500
}

.header__nav .menu-list .menu-has-children {
    position: relative
}

.header__nav .menu-list .menu-has-children>a {
    position: relative
}

.header__nav .menu-list .menu-has-children .submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 235px;
    background-color: #fff;
    transform: translateX(-50%);
    box-shadow: 1px 2px 21px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    pointer-events: none
}

.header__nav .menu-list .menu-has-children .submenu li:not(:last-child) {
    border-bottom: 1px solid #EBEBEB
}

.header__nav .menu-list .menu-has-children .submenu a {
    display: block;
    font-size: 14px;
    color: #6d6d6d;
    padding: 10px 20px
}

.header__nav .menu-list .menu-has-children .submenu li.menu-item-current a,
.header__nav .menu-list .menu-has-children .submenu a:hover {
    color: #000
}

.header__nav .menu-list .menu-has-children .submenu .submenu {
    display: none
}

.header__nav .menu-list .menu-has-children:hover>a {
    color: #0A54A8
}

.header__nav .menu-list .menu-has-children:hover>.submenu {
    pointer-events: visible;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s
}

.header__iconSearch {
    cursor: pointer
}

.header__iconSearch svg {
    width: 20px;
    height: 20px
}

.header__pricePetrol {
    position: relative;
    margin: 0 15px 0 0
}

.header__pricePetrol .f-btn {
    display: block;
    height: 80px;
    line-height: 80px;
    font-size: 12px;
    font-weight: bold;
    font-weight: 500;
    color: #F88126;
    text-align: center;
    transition: all 0.3s
}

.header__pricePetrol .f-btn:after {
    content: "\f0d7";
    font-family: "fontAwesome";
    margin-left: 6px
}

.header__pricePetrol .f-list {
    position: absolute;
    top: 100%;
    right: 0;
    width: 410px;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    padding: 30px 35px;
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden
}

.header__pricePetrol .f-list table {
    width: 100%;
    table-layout: fixed;
    font-size: 14px;
    color: #333333;
    margin-bottom: 12px
}

.header__pricePetrol .f-list table a {
    color: inherit
}

.header__pricePetrol .f-list table a:hover {
    color: #F88126
}

.header__pricePetrol .f-list table thead th {
    text-align: left;
    border-bottom: 1px solid #F88126;
    padding: 0 10px;
    padding-bottom: 15px
}

.header__pricePetrol .f-list table thead th:nth-child(1) {
    width: 50%;
    padding-left: 20px
}

.header__pricePetrol .f-list table thead th:nth-child(2),
.header__pricePetrol .f-list table thead th:nth-child(3) {
    width: 25%
}

.header__pricePetrol .f-list table tbody tr td {
    padding: 10px 10px;
    border-bottom: 1px solid #E6E6E6
}

.header__pricePetrol .f-list table tbody tr td:first-child {
    padding-left: 20px
}

.header__pricePetrol .f-list .f-info {
    position: relative;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    color: #8D8D8D;
    padding-left: 20px;
    padding-right: 100px;
    margin: 0
}

.header__pricePetrol .f-list .f-info span {
    position: absolute;
    top: 0;
    right: 0
}

.header__pricePetrol .f-search {
    display: block;
    background: linear-gradient(to right, #fcba4e 0%, #f87926 50%, #fcba4e 100%);
    background-size: 200% 100%;
    margin-top: 25px
}

.header__pricePetrol .f-search:hover {
    background-position: 100% 0
}

.header__pricePetrol:hover .f-btn:after {
    content: "\f0d8"
}

.header__pricePetrol:hover .f-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all 0.5s
}

.header__iconmenu {
    margin-left: 17px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-image: linear-gradient(139deg, #FCBA4E 0%, #F87926 94%);
    text-align: center
}

.header__iconmenu .f-wrap span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 16px;
    height: 2px;
    background-color: #fff;
    animation: effectOut_a 0.2s forwards;
    transition: all 0.3s ease
}

.header__iconmenu .f-wrap span:before,
.header__iconmenu .f-wrap span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 16px;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease
}

.header__iconmenu .f-wrap span:before {
    top: -8px;
    animation: effectOut_b 0.2s forwards
}

.header__iconmenu .f-wrap span:after {
    bottom: -8px;
    animation: effectOut_c 0.2s forwards
}

.header__search {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #E6E6E6;
    padding: 50px 0;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none
}

.header__search .item {
    max-height: 60vh;
    overflow-y: auto
}

.header__search .item__header {
    position: relative
}

.header__search .item__close {
    position: absolute;
    z-index: 9;
    top: 10%;
    right: 0;
    font-size: 14px;
    font-weight: 600;
    color: #999999;
    line-height: 1;
    cursor: pointer;
    transition: all 0.3s
}

.header__search .item__close svg {
    vertical-align: -1px;
    margin-left: 3px
}

.header__search .item__close svg rect {
    transition: fill 0.3s
}

.header__search .item__close:hover {
    color: #F88126
}

.header__search .item__close:hover svg rect {
    fill: #F88126
}

.header__search .item__keyword {
    margin-top: 35px
}

.header__search .item__keyword .tag-list a {
    border-color: #CCCCCC;
    color: #CCCCCC
}

.header__search .item__keyword .tag-list a:hover {
    border-color: #F88126;
    color: #fff;
    background-color: #F88126
}

.header__language {
    border-left: 1px solid #CCCCCC;
    padding-left: 15px;
    margin-left: 15px
}

.header__language .f-title img {
    max-width: 20px
}

.body-load-done .header__search {
    transition: all 0.5s
}


.header.style-2 .header__nav .menu-list>li>a {
    color: #0A54A8 !important
}



.header__hotline .f-icon,
.header__iconmenu {
    display: none
}

.header__logo {
    margin-right: 30px
}

.header__iconmenu {
    margin-left: 25px
}

.header__iconSearch {
    border-left: 1px solid #CCCCCC;
    padding-left: 15px
}

.header__logo a {
    max-width: 150px
}

.header__nav .menu-list>li:not(:last-child) {
    margin-right: 20px
}

.header__nav .menu-list a,
.header__nav .menu-list span {
    font-size: 12px
}

.header__nav .menu-list .menu-has-children .submenu a {
    font-size: 12px
}

.header__language .select-language .f-content {
    top: 53px;
    right: -20px
}

.header__language .select-language .f-content a {
    padding: 0 14px
}




.title__subtitle {
    font-size: 24px;
    font-weight: 500;
    display: block;
    margin-bottom: 30px;
    color: white;
}
.tin-tuc .title__title {
    color: black !important
}
.title .title__title{
    color: white;
}
.title__title {
    font-size: 40px;
    line-height: 1.26;
    margin-bottom: 0
}

.title__text {
    padding-top: 25px
}

.title__btn {
    line-height: 1;
    margin-top: 30px
}
.title__btn .btn-link {
    color:white;
}



.title-margin {
    margin-bottom: 30px
}

.footer {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.65);
    background: linear-gradient(-90deg, #188cd3 0%, #155eb2 100%);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 45px
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
    color: inherit
}

.footer a {
    color: rgba(255, 255, 255, 0.8)
}

.footer__header {
    padding-bottom: 35px
}

.footer__header .f-text__title {
    font-size: 22px;
    margin-bottom: 15px
}

.footer__header .f-text__text {
    font-size: 12px
}

.footer__content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px 0
}

.footer__list {
    margin-bottom: 30px
}

.footer__list ul li {
    display: inline-block;
    margin-top: 0 !important
}

.footer__list ul li:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 5px
}

.footer__list ul li:last-child:after {
    display: none
}

.footer__list a:hover {
    color: #fff
}

.footer__list li+li {
    margin-top: 10px
}

.footer__footer {
    padding-top: 20px
}

.footer__footer .select-language .f-title span {
    color: #fff
}

.footer__copyright {
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 0
}

.footer__copyright a:hover {
    text-decoration: underline
}

.footer__copyright p {
    margin: 5px 0
}

.btn-show-member {
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: linear-gradient(to right, #fcba4e 0%, #f87926 50%, #fcba4e 100%);
    background-size: 200% 100%;
    color: #fff;
    padding: 0 25px;
    padding-right: 50px;
    cursor: pointer;
    transition: all 0.3s
}

.btn-show-member:after {
    content: "\f107";
    font-family: "fontAwesome";
    position: absolute;
    right: 25px
}

.btn-show-member:hover {
    background-position: 100% 0
}

.mfp-bg {
    background-color: rgba(0, 0, 0, 0.85)
}

.mfp-zoom-in .mfp-content {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8)
}

.mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out
}

.mfp-zoom-in.mfp-ready .mfp-content {
    opacity: 1;
    transform: scale(1)
}

.mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 1
}

.mfp-zoom-in.mfp-removing .mfp-content {
    transform: scale(0.8);
    opacity: 0
}

.mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0
}

.mfp-container {
    display: flex;
    align-items: center
}

.mfp-container:after {
    display: none
}

.mfp-content {
    display: block;
    max-height: 100%
}

.mfp-image-holder .mfp-content,
.mfp-iframe-holder .mfp-content {
    padding: 30px 30px
}


    .mfp-image-holder .mfp-content,
    .mfp-iframe-holder .mfp-content {
        max-width: 80%;
        padding: 30px 0
    }



    .mfp-image-holder .mfp-content,
    .mfp-iframe-holder .mfp-content {
        max-width: 60%
    }


.mfp-iframe-scaler {
    padding-top: 0;
    height: auto
}

.mfp-iframe-scaler:after {
    content: "";
    display: block;
    padding-top: 56.25%
}

button.mfp-arrow {
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #8c8a8a;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    opacity: 1;
    transition: all 0.3s ease
}

button.mfp-arrow:active {
    margin: 0
}

button.mfp-arrow:after,
button.mfp-arrow:before {
    display: none
}

button.mfp-arrow.mfp-arrow-left {
    left: -30px;
    transform: translate(-100%, -50%)
}

button.mfp-arrow.mfp-arrow-right {
    right: -30px;
    transform: translate(100%, -50%)
}

button.mfp-arrow:hover {
    color: #fff
}

button.mfp-arrow:focus {
    outline: none !important
}

@media(max-width:767.98px) {
    button.mfp-arrow {
        width: 30px;
        height: 30px
    }

    button.mfp-arrow.mfp-arrow-left {
        left: 0;
        transform: translate(-50%, -50%)
    }

    button.mfp-arrow.mfp-arrow-right {
        right: 0;
        transform: translate(50%, -50%)
    }
}

button.mfp-close,
div.mfp-close {
    width: 20px !important;
    height: 20px !important;
    font-size: 0;
    background-image: url(../img/icon/icon-close-popup.svg);
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1
}

img.mfp-img {
    padding: 0
}

.mfp-inline-holder button.mfp-close,
.mfp-inline-holder div.mfp-close {
    top: 20px;
    right: 20px
}

@media(min-width:768px) {

    .mfp-inline-holder button.mfp-close,
    .mfp-inline-holder div.mfp-close {
        top: 30px;
        right: 30px
    }
}

.mfp-image-holder button.mfp-close,
.mfp-image-holder div.mfp-close,
.mfp-iframe-holder button.mfp-close,
.mfp-iframe-holder div.mfp-close {
    top: -50px;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 1;
    cursor: pointer !important
}

@media(min-width:768px) {

    .mfp-image-holder button.mfp-close,
    .mfp-image-holder div.mfp-close,
    .mfp-iframe-holder button.mfp-close,
    .mfp-iframe-holder div.mfp-close {
        right: -40px
    }
}

.mfp-gallery {
    cursor: default
}

.mfp-image-holder .mfp-figure {
    position: relative;
    max-width: 1130px
}

.mfp-image-holder .mfp-bottom-bar {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 40px
}

.mfp-image-holder .mfp-title {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 500px
}

.mfp-image-holder .mfp-title h2 {
    font-family: "SF Pro Text";
    font-size: 16px;
    line-height: 1.31;
    color: #fff;
    margin-bottom: 10px
}

.mfp-image-holder .mfp-title p {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    color: #e1e1e1
}

#popup-sendInformation {
    position: relative;
    max-width: 650px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto
}

@media(max-width:767.98px) {
    #popup-sendInformation {
        margin-left: -6px;
        margin-right: -6px
    }
}

#popup-sendInformation .popup-success {
    display: none;
    text-align: center
}

#popup-sendInformation .popup-success img {
    max-width: 50px;
    margin-bottom: 25px
}

#popup-sendInformation .popup-success h3 {
    font-family: "SF Pro Text";
    font-size: 18px;
    line-height: 1.33;
    margin: 0
}

#popup-sendInformation.form-success {
    max-width: 440px
}

#popup-sendInformation.form-success .mfp-close,
#popup-sendInformation.form-success .popup-sendInformation__content {
    display: none
}

#popup-sendInformation.form-success .popup-success {
    display: block;
    padding: 80px
}

.popup-sendInformation__content {
    padding: 80px 40px
}

.popup-sendInformation__inner {
    max-width: 510px;
    margin-left: auto;
    margin-right: auto
}

.popup-sendInformation__title {
    font-size: 25px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 40px
}

.popup-sendInformation__form .btn-submit {
    text-align: center
}

.popup-sendInformation__form .form-group label {
    width: 200px
}

@media(min-width:992px) {
    #popup-sendInformation {
        max-width: 840px
    }
}

.mfp-inline-holder .mfp-close {
    font-size: 0
}

.mfp-content .form-group .form-group__inner:after {
    background-color: #E6E6E6
}

.mfp-content .form-group .form-group__inner.focus:after {
    background-color: #F88126
}

.mfp-content .form-group .form-group__inner .ui-button .ui-icon {
    color: #F88126
}

.mfp-content .btn-submit {
    padding-top: 14px
}

.popup-contactSuccess {
    position: relative;
    background-color: #fff;
    text-align: center;
    padding: 50px 30px;
    margin-left: auto;
    margin-right: auto
}

.popup-contactSuccess .f-inner img {
    max-width: 50px;
    margin-bottom: 25px
}

.popup-contactSuccess .f-inner h3 {
    font-family: "SF Pro Text";
    font-size: 18px;
    line-height: 1.33;
    margin: 0
}

@media(min-width:768px) {
    .popup-contactSuccess {
        padding: 80px
    }
}

#popup-widget-category {
    position: relative;
    background-color: #fff;
    margin-left: -6px;
    margin-right: -6px;
    padding: 70px 26px
}

#popup-showContentPost {
    position: relative;
    background-color: #fff
}

#popup-showContentPost .popup-img img {
    width: 100%
}

#popup-showContentPost .popup-body__title {
    font-size: 25px;
    color: #0A54A8;
    margin-bottom: 20px
}

#popup-showContentPost .popup-body__entry {
    font-size: 14px
}

#popup-showContentPost .popup-body__entry h2,
#popup-showContentPost .popup-body__entry h3,
#popup-showContentPost .popup-body__entry h4 {
    margin-top: 20px;
    margin-bottom: 15px;
    color: #0A54A8
}

#popup-showContentPost .popup-body__entry h5,
#popup-showContentPost .popup-body__entry h6 {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #0A54A8
}

#popup-showContentPost .popup-body__entry h2 {
    font-size: 18px
}

#popup-showContentPost .popup-body__entry h3 {
    font-size: 16px
}

#popup-showContentPost .popup-body__entry h4 {
    font-size: 14px
}

#popup-showContentPost .popup-body__entry h5 {
    font-size: 12px
}

#popup-showContentPost .popup-body__entry h6 {
    font-size: 10px
}

@media(max-width:767.98px) {
    #popup-showContentPost {
        padding-top: 60px;
        margin-left: -6px;
        margin-right: -6px
    }

    #popup-showContentPost .popup-body {
        padding: 40px 26px
    }
}

@media(min-width:768px) {
    #popup-showContentPost {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto
    }
}

@media(min-width:576px) and(max-width:991.98px) {
    #popup-showContentPost .popup-body {
        padding: 50px 40px
    }
}

@media(min-width:992px) {
    #popup-showContentPost {
        display: flex;
        max-height: 90vh;
        padding: 75px 40px 70px 60px
    }

    #popup-showContentPost .popup-img {
        width: 45%
    }

    #popup-showContentPost .popup-body {
        width: 55%;
        padding-left: 50px
    }

    #popup-showContentPost .f-scroll {
        height: 100%;
        overflow-y: auto;
        padding-right: 20px
    }

    #popup-showContentPost .popup-body__entry h2 {
        font-size: 16px
    }

    #popup-showContentPost .popup-body__entry h3 {
        font-size: 14px
    }

    #popup-showContentPost .popup-body__entry h4 {
        font-size: 12px
    }

    #popup-showContentPost .popup-body__entry h5 {
        font-size: 12px
    }

    #popup-showContentPost .popup-body__entry h6 {
        font-size: 12px
    }
}

.sec-numberWaste .f-bg {
    visibility: visible !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #0A54A8;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

@media(min-width:1500px) {
    #popup-showContentPost {
        padding: 90px 50px 90px 80px
    }

    #popup-showContentPost .popup-img {
        width: 50%
    }

    #popup-showContentPost .popup-body {
        padding-left: 80px;
        width: 50%
    }

    #popup-showContentPost .popup-body .f-scroll {
        padding-right: 30px
    }
}

.accordion__item {
    border-bottom: 1px solid #E6E6E6
}

.accordion__item:first-child {
    border-top: 1px solid #E6E6E6
}

.accordion__title {
    position: relative;
    font-family: "SF Pro Text", sans-serif;
    font-size: 18px;
    cursor: pointer;
    padding: 25px 0;
    padding-right: 30px
}

.accordion__title:after {
    content: "";
    position: absolute;
    top: 30px;
    right: 0;
    width: 14px;
    height: 14px;
    background-image: url(../img/icon-acc-plus.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #F88126
}

.accordion__title[aria-expanded=true]:after {
    background-image: url(../img/icon-acc-minus.svg)
}

.accordion__content .text-body {
    padding-right: 20px
}

.accordion__content .text-body ul {
    margin-left: 18px;
    margin-bottom: 15px
}

.accordion__content .text-body ul li+li {
    margin-top: 10px
}

@media(min-width:768px) {
    .accordion__title {
        font-size: 22px
    }
}

.f-counter {
    margin-bottom: 25px
}

.f-counter__number {
    display: inline-block;
    position: relative;
    font-family: "SF Pro Display", sans-serif;
    font-weight: bold;
    color: #F88126
}

.f-counter__number .num {
    font-size: 60px;
    line-height: 1
}

.f-counter__number .old {
    position: absolute;
    right: -15px;
    bottom: 8px;
    line-height: 1;
    transform: translateX(100%)
}

.f-counter__title {
    padding-top: 10px;
    font-family: "SF Pro Text", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.35;
    color: #666666;
    max-width: 70%
}

@media(max-width:767.98px) {
    .f-counter {
        max-width: 170px
    }
}

@media(min-width:992px) {
    .f-counter__number .num {
        font-size: 70px
    }

    .f-counter__number .old {
        font-size: 19px;
        bottom: 10px
    }
}

.tag-list {
    font-size: 0
}

.tag-list a {
    display: inline-block;
    vertical-align: top;
    height: 45px;
    line-height: 43px;
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 18px;
    margin-right: 10px;
    margin-bottom: 10px
}

@media(min-width:992px) {
    .tag-list a {
        height: 50px;
        line-height: 48px;
        font-size: 16px;
        padding: 0 30px;
        margin-right: 25px;
        margin-bottom: 25px
    }
}

.numberbox {
    height: 100%;
    padding-bottom: 30px
}

.numberbox__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 140px;
    padding: 30px 25px;
    line-height: 1
}

.numberbox__sub {
    display: block;
    font-family: "SF Pro Display", sans-serif;
    font-weight: bold;
    margin-bottom: 15px
}

.numberbox__sub [class*=fa-caret-down] {
    color: #32A80A;
    margin-left: 3px
}

.number__title {
    line-height: 1;
    font-size: 0;
    white-space: nowrap
}

.number__title .num {
    font-size: 35px;
    color:#0A54A8;
}

.number__title .old {
    font-size: 18px;
    margin-left: 6px
}

.number__title .up,
.number__title .down {
    font-size: 18px;
    color: #0A54A8;
    margin-left: 10px
}

.number__text {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 0
}

.white {
    color: #000
}

.white .numberbox__inner {
    background-color: #fff
}

.white .number__title {
    color: initial
}

@media(max-width:767.98px) {
    .numberbox__sub {
        font-size: 14px
    }
}

@media(min-width:1200px) {
    .number__title .num {
        font-size: 39px
    }

    .number__title .old {
        font-size: 22px
    }

    .number__title .up {
        font-size: 20px
    }
}

@media(min-width:1500px) {
    .numberbox__inner {
        padding: 40px;
        min-height: 170px
    }

    .number__title .num {
        font-size: 45px
    }
}

.post-default__img {
    display: block;
    position: relative;
    margin-bottom: 15px
}

.post-default__img:before {
    content: "";
    display: block;
    padding-top: 65%
}

.post-default__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%)
}

.post-default__img .btn-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

a.post-default__img {
    overflow: hidden
}

a.post-default__img img {
    transition: all 0.5s
}

a.post-default__img:hover img {
    transform: translate(-50%, -50%) scale(1.1)
}

.post-default__title {
    font-size: 18px;
    line-height: 1.33
}

.post-default__title a:hover {
    color: #0A54A8
}

.post-default__meta {
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    line-height: 1.2;
    margin-top: 18px
}

.post-default__meta .meta-cat a {
    color: inherit
}

.post-default__meta .meta-cat a:hover {
    color: #F88126
}

.post-detail-list .post-default__img {
    margin-bottom: 0
}

.post-detail-list .post-default__body {
    padding: 20px 0;
    border-bottom: 1px solid #D9D9D9
}

.featured-style {
    margin-bottom: 30px
}

@media(min-width:768px) {
    .featured-style {
        margin-bottom: 50px
    }

    .featured-style .post-default__title {
        font-size: 25px
    }
}

@media(min-width:992px) {
    .featured-style .post-default__title {
        font-size: 30px
    }
}

.select-language {
    display: inline-block;
    position: relative
}

.select-language::selection {
    background: transparent;
    color: inherit
}

.select-language::-moz-selection {
    background: #0A54A8;
    color: inherit
}

.select-language .f-title {
    font-size: 14px;
    margin: 0
}

.select-language .f-title span {
    display: inline-block;
    position: relative;
    color: #000;
    padding-right: 15px;
    cursor: pointer
}

.select-language .f-title span:after {
    content: "\f107";
    font-family: "fontAwesome";
    position: absolute;
    top: 7px;
    right: 0;
    line-height: 1
}

.select-language .f-content {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    width: 120px
}

.select-language .f-content a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #B3B3B3 !important;
    font-size: 12px;
    padding: 0 8px;
    text-align: right
}

.select-language .f-content a img {
    margin-left: 5px
}

.select-language .f-content a:hover,
.select-language .f-content li.current a {
    color: #000 !important
}

.select-language .f-content li+li {
    border-top: 1px solid #EBEBEB
}

.select-language.up span:after {
    content: "\f106"
}

.select-language.up .f-content {
    top: -5px;
    transform: translateY(-100%)
}

.select-language.up .f-title.active span:after {
    content: "\f107"
}

.select-language .f-title.active span:after {
    content: "\f106"
}

.select-language .f-title.active~.f-content {
    display: block
}

.breadcrumb {
    list-style: none;
    margin: 0;
    padding: 0
}

.breadcrumb li {
    display: inline-block;
    color: #b6b6b6;
    font-weight: 500
}

.breadcrumb li a {
    line-height: 1.87;
    letter-spacing: 0.01em;
    color: inherit
}

.breadcrumb li a:hover {
    color: #0A54A8
}

.breadcrumb li:not(:last-child):after {
    content: "|";
    margin: 0 10px
}

.breadcrumb li:last-child {
    pointer-events: none
}

@media(max-width:767.98px) {
    .breadcrumb li {
        font-size: 14px
    }
}

.collapseBox.show-content .collapseBox__btn .btn-down {
    display: none
}

.collapseBox.show-content .collapseBox__btn .btn-up {
    display: inline-block
}

.collapseBox__btn {
    padding-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #F88126
}

.collapseBox__btn a {
    color: inherit
}

.collapseBox__content {
    display: none
}

.collapseBox__btn .btn-up {
    display: none
}

.team {
    margin-bottom: 30px
}

.team__img {
    position: relative;
    overflow: hidden;
    background-color: #dedede;
    margin-bottom: 12px
}

.team__img:after {
    content: "";
    display: block;
    padding-top: 123%
}

.team__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.team__name {
    font-size: 14px;
    margin-bottom: 5px
}

.team__position {
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 0
}

@media(min-width:768px) {
    .team__img {
        margin-bottom: 25px
    }

    .team__name,
    .team__position {
        font-size: 16px
    }
}


.document {
    margin-bottom: 40px
}

.document__img {
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)
}

.document__img a {
    display: block
}

.document__img img {
    width: 100%
}

a.document__img {
    display: block
}

.document__body {
    position: relative;
    padding-right: 30px;
    margin: 0 8%
}

.document__title {
    font-size: 14px;
    font-weight: 500
}

.document__btn {
    position: absolute;
    top: 0;
    right: 0
}

.hero {
    min-height: calc(100vh - 60px);
    padding: 0
}

.hero__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.hero__bg .owl-stage-outer,
.hero__bg .owl-stage,
.hero__bg .owl-item {
    height: 100%
}

.hero__bg .item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}


.hero__bg .item iframe {
    transition: opacity 500ms ease-in-out;
    transition-delay: 250ms
}

.hero__bg .item__content {
    position: absolute;
    left: 0;
    right: 0
}

.hero__bg .item__title {
    font-size: 40px;
    letter-spacing: -0.01em;
    line-height: 1.05;
    color: #fff;
    margin-bottom: 20px
}

.hero__bg .item__title a:hover {
    color: #F88126
}

.hero__bg .item__text {
    max-width: 550px;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 0
}

.hero__bg .item__btn {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-top: 25px
}

.hero__bg .item__btn i {
    margin-left: 6px;
    vertical-align: -1px
}

.hero__bg .item__btn:hover {
    color: #F88126
}

.hero__footer {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 40px;
    right: 0
}

.hero__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0 -3px;
    display: flex;
    flex-wrap: wrap
}

.hero__list li {
    width: 16.6666666667%;
    padding: 0 3px
}

.hero__list li>span {
    display: block;
    position: relative;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.6)
}

.hero__list li>span small {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #F88126
}

.hero__list li h3 {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #fff;
    padding-top: 20px;
    cursor: pointer
}

.hero.fix-video .hero__list li>span small {
    width: 100%;
    background-color: transparent
}

.hero.fix-video .hero__list li.active>span small {
    background-color: #F88126
}

.body-load-done .hero:not(.fix-video) .hero__list li.active>span small {
    width: 100%;
    transition: width 7.5s;
    transition-delay: 1.5s
}


.hero {
    min-height: 100vh
}

.hero__bg .item__btn {
    margin-top: 45px
}



.home-about {
    padding-top: 120px;
    padding-bottom: 100px
}


.industry-cta {
    padding: 0
}

.industry-cta__inner {
    position: relative
}

.industry-cta__inner .item-right {
    position: relative;
    z-index: 2
}

.industry-cta__inner .item {
    display: block;
    position: relative;
    overflow: hidden
}

.industry-cta__inner .item:before {
    content: "";
    display: block;
    padding-top: 44%
}

.industry-cta__inner .item:hover .item__hover {
    opacity: 1;
    visibility: visible;
    transform: translateX(0)
}

.industry-cta__inner .item:hover .item__bg {
    transform: scale(1.05)
}

.industry-cta__inner .item__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.4s
}

.industry-cta__inner .item__bg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3
}

.industry-cta__inner .item-bg-wrap {
    position: relative;
    z-index: -2;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.industry-cta__inner .item__subtitle {
    display: block;
    font-weight: 500;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 150px
}

.industry-cta__inner .item__title {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 30px;
    color: #fff;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    padding: 0 25px
}

.industry-cta__inner .item-left .item__hover {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    right: 0;
    height: 70%;
    background: linear-gradient(rgba(255, 255, 255, 0) 30%, rgba(248, 121, 38, 0.64) 100%);
    transform: translateY(20%);
    transition: all 0.4s
}

.industry-cta__inner .item-bg-wrap .item__hover {
    z-index: 1
}

.industry-cta__inner .item__text {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 16px;
    margin-bottom: 0
}

.industry-cta__inner .item-left {
    overflow: hidden
}

.industry-cta__inner .item-left .item__title {
    position: static;
    padding: 0
}

.industry-cta__inner .item-right .item {
    overflow: hidden
}

.industry-cta__inner .item-right .item__bg {
    z-index: -2
}


@media(min-width:768px) {
    .industry-cta__inner .item-left {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0
    }

    .industry-cta__inner .item-left .item {
        height: 100%
    }

    .industry-cta__inner .item-left .item:before {
        display: none
    }

    .industry-cta__inner .item-left .item__content {
        position: absolute;
        left: 0;
        bottom: 14%;
        right: 0
    }

    .industry-cta__inner .item-left .item__title {
        font-size: 35px
    }

    .industry-cta__inner .item-right {
        margin-left: auto
    }

    .industry-cta__inner .item__title {
        top: 13px;
        font-size: 20px;
        padding: 0 20px
    }

    .industry-cta__inner .wrap-carousel {
        transform: rotate(90deg)
    }

    .industry-cta__inner .owl-carousel .f-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 330px;
        width: 110px
    }

    .industry-cta__inner .owl-carousel .f-item .item {
        position: absolute;
        width: 330px;
        height: 110px;
        transform: rotate(-90deg)
    }


    .industry-cta__inner .owl-carousel .owl-nav .owl-prev {
        left: 10px
    }

    .industry-cta__inner .owl-carousel .owl-nav .owl-next {
        right: 10px
    }

    .industry-cta__inner .item-left .item-bg-wrap {
        width: calc(100vw - 330px)
    }

    .industry-cta__inner .item-right {
        width: 330px
    }
}


@media(min-width:1200px) {
    .industry-cta__inner .item__title {
        top: 18%;
        font-size: 25px;
        padding: 0 30px
    }

    .industry-cta__inner .owl-carousel .f-item {
        height: 600px;
        width: 200px
    }

    .industry-cta__inner .owl-carousel .f-item .item {
        width: 600px;
        height: 200px
    }

    .industry-cta__inner .item-left .item-bg-wrap {
        width: calc(100vw - 600px)
    }

    .industry-cta__inner .item-right {
        width: 600px
    }
}


.htvct__banner {
    background: linear-gradient(90deg, #fcba4e 0%, #f87926 100%);
    color: #fff;
    padding: 115px 0 90px
}

.htvct__banner .title-fz-30 {
    color: #fff;
    margin-bottom: 25px
}

.htvct__banner .tag-list a {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.5)
}

.htvct__banner .tag-list a:hover {
    background-color: #fff;
    border-color: #fff;
    color: #F88126
}

.cskh {
    padding: 0
}

.dvkh__inner {
    max-width: 100%;
    text-align: center
}

.dvkh__inner>.row {
    margin-left: 0;
    margin-right: 0
}

.dvkh__inner>.row [class*=col-] {
    padding-left: 0;
    padding-right: 0
}

.dvkh__inner .item {
    position: absolute;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden
}

.dvkh__inner .item:before {
    content: "";
    display: block;
    padding-top: 55%
}

.dvkh__inner .item__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    overflow: hidden;
    transition: all 0.5s
}

.dvkh__inner .item__bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.dvkh__inner .item__hover {
    position: absolute;
    z-index: -2;
    left: 0;
    bottom: 0;
    max-width: 55%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: 0.4s
}

.dvkh__inner .item__content {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 20px;
    color: #fff
}

.dvkh__inner .item__subtitle {
    display: block;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px
}

.dvkh__inner .item__title {
    font-size: 30px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    color: #fff;
    transition: all 0.3s
}

.dvkh__inner .item:hover .item__hover {
    visibility: visible;
    opacity: 1;
    transform: translateX(0)
}

.dvkh__inner .item:hover .item__bg {
    transform: scale(1.05)
}

.dvkh__inner .item:before {
    padding-top: 35%
}


#backtotop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 9;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 26px;
    font-size: 20px;
    text-align: center;
    background-color: #F88126;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    opacity: 0;
    visibility: hidden
}

#backtotop.active {
    opacity: 1;
    visibility: visible
}

#backtotop:hover {
    backface-visibility: hidden;
    transform: scale(1.2)
}

@media(min-width:1200px) {
    #backtotop {
        right: 30px;
        bottom: 30px
    }
}

.footer__footer .select-language .f-title label {
    color: #fff;
    margin-right: 6px
}

.footer__copyright a {
    color: rgba(255, 255, 255, 0.65)
}